doctype html
html(lang="ru")
    head
        title= title

        link(href='/public/stylesheets/main.css', rel='stylesheet')
        link(href='/public/stylesheets/cap.css', rel='stylesheet')
    body
        .main-wrapper
            .cap-wrapper
                font(size="7", color="#ae113d")
                    p
                        b In Development!
                font(size="4", color="#a83555")
                    b // Stay tuned
                    b &nbsp;/ me@disya.net