//
   Created by denis on 19.08.16.

doctype html
html(lang=ru)
    head
        title DISYA.net | Join

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src='/javascripts/auth.js')

        link(href='/stylesheets/main.css', rel='stylesheet')
        link(href='/stylesheets/auth.css', rel='stylesheet')
        link(href='/stylesheets/auth-join.css', rel='stylesheet')
    body
        .main-wrapper
            .auth-wrapper
                form(class="auth-form", name="auth", action="/join/reg/", method="post")
                    .auth-box
                        img(class="logo", src="/images/disya-logo.png")
                        input(class="input-phldr", id="name", form="auth-form", placeholder="Enter name", autocomplete="off" required="" type="text")
                        input(class="input-phldr", id="email", form="auth-form", placeholder="Enter email", autocomplete="off" required="" type="text")
                        input(class="input-phldr", id="pass", form="auth-form", placeholder="Enter password", autocomplete="off" required="" type="password")
                        input(class="input-phldr", id="pass_confirm", form="auth-form", placeholder="Confirm password", autocomplete="off" required="" type="password")
                    button(id="join-button", class="auth-button join-button", form="auth-form", type="submit") JOIN
                .footer
                    nav
                        a(style="color: #c5c5c5", href="/auth/recovery/") Recovery password
                        text &nbsp;|&nbsp;
                        a(style="color: #c5c5c5", target="_blank", href="/join/rules/") Registration rules
                    .copyright
                        &copy; MacMailler, 2016
